{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="content-section">
        <!-- action=" -->
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form_group">
                <legend class="border_bottom mb-4 line-color">Blog Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group ">
                <button class="btn btn-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}